<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.28.2.795" newVersion="2.28.2.795" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- 
      This switch tells .NET 4.7 to use the pre-4.7 [R|D]SACryptoServiceProvider instead of the new 
      [R|D]SACng implementation. This can be deleted once ADAL.NET is upgraded to 3.15.0 or greater.
      Source: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/commit/c4e9fc715da6dd2a567fa0f2470b2f5b17a768fb
    -->
    <AppContextSwitchOverrides value="Switch.System.IdentityModel.DisableCngCertificates=true"/>
  </runtime>
</configuration>