registry=https://pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/31/2020.
; begin auth token
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/registry/:username=meta-ui-dev-feed
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/registry/:_password=bWFoc2xlZWRubGc1Y3N6YmFqY3hvemdwaXNlYWttanQzNTV5M3ZhMjYzeDdvY3JhaTd4cQ==
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/:username=meta-ui-dev-feed
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/:_password=bWFoc2xlZWRubGc1Y3N6YmFqY3hvemdwaXNlYWttanQzNTV5M3ZhMjYzeDdvY3JhaTd4cQ==
//pkgs.dev.azure.com/gm-gm/_packaging/meta-ui-dev-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token